<!-- Shared Sub Header Navigation Component -->
<div class="sub-header">
  <div class="sub-header-content">
    <nav class="sub-header-nav">      <a class="sub-header-link all-products-link active" href="javascript:void(0)" onclick="handleNavigationClick('')">Browse All
Books</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="fiction" onclick="handleNavigationClick('#fiction')">Fiction</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="non-fiction" onclick="handleNavigationClick('#non-fiction')">Non-
Fiction</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="children-young-adult" onclick="handleNavigationClick('#children-young-adult')">Children &
Young Adult</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="academic-educational" onclick="handleNavigationClick('#academic-educational')">Academic &
Educational</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="arts-culture" onclick="handleNavigationClick('#arts-culture')">Arts &
Culture</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="health-self-help" onclick="handleNavigationClick('#health-self-help')">Health &
Self-Help</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="religion-spirituality" onclick="handleNavigationClick('#religion-spirituality')">Religion &
Spirituality</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="business-politics" onclick="handleNavigationClick('#business-politics')">Business &
Politics</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="science-technology" onclick="handleNavigationClick('#science-technology')">Science &
Technology</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="biography-history" onclick="handleNavigationClick('#biography-history')">Biography &
History</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="poetry-literature" onclick="handleNavigationClick('#poetry-literature')">Poetry &
Literature</a>
      <a class="sub-header-link" href="javascript:void(0)" data-submenu="specialty-genres" onclick="handleNavigationClick('#specialty-genres')">Specialty
Genres</a>
    </nav>
  </div>
  
  <!-- Sub-header Submenus -->
  <div class="sub-header-submenu" id="submenu-fiction">
    <div class="sub-header-submenu-content">
      <div class="sub-header-submenu-row">
        <div class="sub-header-submenu-column">
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Classics')">Classics</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Contemporary')">Contemporary</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Crime')">Crime</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Erotica')">Erotica</a>
        </div>
        
        <div class="sub-header-submenu-column">
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Fantasy')">Fantasy</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Historical Fiction')">Historical Fiction</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Horror')">Horror</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Mystery')">Mystery</a>
        </div>
        
        <div class="sub-header-submenu-column">
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Novels')">Novels</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Paranormal')">Paranormal</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Romance')">Romance</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Science Fiction')">Science Fiction</a>
        </div>
        
        <div class="sub-header-submenu-column">
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Short Stories')">Short Stories</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Suspense')">Suspense</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Thriller')">Thriller</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Womens Fiction')">Women's Fiction</a>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-header-submenu" id="submenu-non-fiction">
    <div class="sub-header-submenu-content">
      <div class="sub-header-submenu-row">
        <div class="sub-header-submenu-column">
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Nonfiction')">Non-Fiction</a>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-header-submenu" id="submenu-children-young-adult">
    <div class="sub-header-submenu-content">
      <div class="sub-header-submenu-row">
        <div class="sub-header-submenu-column">
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Childrens')">Children's</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Young Adult')">Young Adult</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('New Adult')">New Adult</a>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-header-submenu" id="submenu-academic-educational">
    <div class="sub-header-submenu-content">
      <div class="sub-header-submenu-row">
        <div class="sub-header-submenu-column">
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Academic')">Academic</a>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-header-submenu" id="submenu-arts-culture">
    <div class="sub-header-submenu-content">
      <div class="sub-header-submenu-row">
        <div class="sub-header-submenu-column">
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Art')">Art</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Sequential Art')">Sequential Art</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Music')">Music</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Cultural')">Cultural</a>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-header-submenu" id="submenu-health-self-help">
    <div class="sub-header-submenu-content">
      <div class="sub-header-submenu-row">
        <div class="sub-header-submenu-column">
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Health')">Health</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Self Help')">Self Help</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Psychology')">Psychology</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Parenting')">Parenting</a>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-header-submenu" id="submenu-religion-spirituality">
    <div class="sub-header-submenu-content">
      <div class="sub-header-submenu-row">
        <div class="sub-header-submenu-column">
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Religion')">Religion</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Christian')">Christian</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Christian Fiction')">Christian Fiction</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Spirituality')">Spirituality</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Philosophy')">Philosophy</a>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-header-submenu" id="submenu-business-politics">
    <div class="sub-header-submenu-content">
      <div class="sub-header-submenu-row">
        <div class="sub-header-submenu-column">
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Business')">Business</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Politics')">Politics</a>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-header-submenu" id="submenu-science-technology">
    <div class="sub-header-submenu-content">
      <div class="sub-header-submenu-row">
        <div class="sub-header-submenu-column">
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Science')">Science</a>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-header-submenu" id="submenu-biography-history">
    <div class="sub-header-submenu-content">
      <div class="sub-header-submenu-row">
        <div class="sub-header-submenu-column">
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Biography')">Biography</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Autobiography')">Autobiography</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('History')">History</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Historical')">Historical</a>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-header-submenu" id="submenu-poetry-literature">
    <div class="sub-header-submenu-content">
      <div class="sub-header-submenu-row">
        <div class="sub-header-submenu-column">
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Poetry')">Poetry</a>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-header-submenu" id="submenu-specialty-genres">
    <div class="sub-header-submenu-content">
      <div class="sub-header-submenu-row">
        <div class="sub-header-submenu-column">
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Humor')">Humor</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Sports and Games')">Sports and Games</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Food and Drink')">Food and Drink</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Travel')">Travel</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Adult Fiction')">Adult Fiction</a>
          <a class="sub-header-submenu-item" href="javascript:void(0)" onclick="handleCategoryClick('Default')">Default</a>
        </div>
      </div>
    </div>
  </div>
</div>
