<div class="departments-sidebar">
  <div class="departments-items">
    <div class="department-group">
      <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Fiction')">Fiction</a>
      <div class="submenu">
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Classics')">Classics</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Contemporary')">Contemporary</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Crime')">Crime</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Erotica')">Erotica</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Fantasy')">Fantasy</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Historical Fiction')">Historical Fiction</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Horror')">Horror</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Mystery')">Mystery</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Novels')">Novels</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Paranormal')">Paranormal</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Romance')">Romance</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Science Fiction')">Science Fiction</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Short Stories')">Short Stories</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Suspense')">Suspense</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Thriller')">Thriller</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Womens Fiction')">Women's Fiction</a>
      </div>
    </div>

    <div class="department-group">
      <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Non-Fiction')">Non-Fiction</a>
      <div class="submenu">
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Nonfiction')">Non-Fiction</a>
      </div>
    </div>

    <div class="department-group">
      <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Children & Young Adult')">Children & Young Adult</a>
      <div class="submenu">
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Childrens')">Children's</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Young Adult')">Young Adult</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('New Adult')">New Adult</a>
      </div>
    </div>

    <div class="department-group">
      <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Academic & Educational')">Academic & Educational</a>
      <div class="submenu">
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Academic')">Academic</a>
      </div>
    </div>

    <div class="department-group">
      <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Arts & Culture')">Arts & Culture</a>
      <div class="submenu">
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Art')">Art</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Sequential Art')">Sequential Art</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Music')">Music</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Cultural')">Cultural</a>
      </div>
    </div>

    <div class="department-group">
      <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Health & Self-Help')">Health & Self-Help</a>
      <div class="submenu">
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Health')">Health</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Self Help')">Self Help</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Psychology')">Psychology</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Parenting')">Parenting</a>
      </div>
    </div>

    <div class="department-group">
      <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Religion & Spirituality')">Religion & Spirituality</a>
      <div class="submenu">
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Religion')">Religion</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Christian')">Christian</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Christian Fiction')">Christian Fiction</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Spirituality')">Spirituality</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Philosophy')">Philosophy</a>
      </div>
    </div>

    <div class="department-group">
      <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Business & Politics')">Business & Politics</a>
      <div class="submenu">
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Business')">Business</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Politics')">Politics</a>
      </div>
    </div>

    <div class="department-group">
      <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Science & Technology')">Science & Technology</a>
      <div class="submenu">
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Science')">Science</a>
      </div>
    </div>

    <div class="department-group">
      <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Biography & History')">Biography & History</a>
      <div class="submenu">
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Biography')">Biography</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Autobiography')">Autobiography</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('History')">History</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Historical')">Historical</a>
      </div>
    </div>

    <div class="department-group">
      <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Poetry & Literature')">Poetry & Literature</a>
      <div class="submenu">
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Poetry')">Poetry</a>
      </div>
    </div>

    <div class="department-group">
      <a class="department-link expandable" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Specialty Genres')">Specialty Genres</a>
      <div class="submenu">
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Humor')">Humor</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Sports and Games')">Sports and Games</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Food and Drink')">Food and Drink</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Travel')">Travel</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Adult Fiction')">Adult Fiction</a>
        <a class="department-link" href="javascript:void(0)" onclick="window.loadSpecificCategory && window.loadSpecificCategory('Default')">Default</a>
      </div>
    </div>

  </div>
</div>